.que-block-pane,
.que-block-pane .selections {
  flex-grow: 1;
}
.que-block-pane .que-blocks {
  flex-grow: 5;
}
.selections {
  padding: 10px;
}
.selections > * {
  margin: 5px;
}
.selections > *:not(:first-child) > :first-child {
  margin-bottom: 3px;
  font-weight: bold;
}

.que-blocks {
  max-height: 90vh;
  overflow: auto;
}

.que-blocks > * {
  border: 1px grey dashed;
  border-radius: 6px;
  margin: 16px;
  padding: 10px;
  height: 180px;
}

.que-list-container {
  scroll-snap-type: y mandatory;
  scroll-padding: 10px;
}

.que-list {
  max-height: 80vh;
  overflow: auto;
}

.que-list-item {
  width: 150px;
  padding: 5px;
  margin-bottom: 5px;
  border: 0.5px solid grey;
  background-color: #c5c5c5;
}

.que {
  flex-grow: 1;
  padding: 10px;
  margin: 25px 3px;
  scroll-snap-align: start;
  background-color: #c5c5c5;
}

.que-answered {
  background-color: whitesmoke;
}

.que-responses {
  align-self: flex-end;
}

.que-responses > * {
  margin-right: 8px;
}

.que > * {
  margin-bottom: 5px;
}
