.selector-pane {
  max-width: 70vw;
}
.selector-pane input[type="text"] {
  font-size: large;
  border: none;
  border-bottom: 1px solid grey;
  margin: 6px 0 6px 0;
  width: 30vw;
  text-align: center;
}
.selector-pane > .checkbox-pane {
  max-height: 60vh;
  padding: 6px;
  overflow: auto;
}
.checkbox-pane > .checkbox {
  margin: 4px;
  padding: 4px;
  border: 1px solid grey;
  border-radius: 6px;
}
.selector-pane > .tag-pane {
  margin: 6px;
}
.selector-pane > .tag-pane > * {
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px dashed grey;
  border-radius: 6px;
  padding: 2px;
}
.selector-pane > .action-pane > * {
  margin: 4px;
}
